
/*titulo*/
body{
    background-color:rgb(250, 244, 242);
    color:black;
}

/*subtitulo*/
h1{
    font-size: 24px;
    text-align: center;
}

/*parrafo*/
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color:brown;

}

/*cuerpo*/
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 12px;
    margin: 20px;
}
body, ul{
  margin: 0;
  font-family: monospace;
  font-weight: bold;
  font-size: 20;
  padding: 0;

}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }

  .img{
   color: red;
   margin: 20px,10,5,10;
   padding: 100px;
   border: 10px;

  }
  

  .column {
    flex: 1;
    padding: 10px;
  }

  .boton{
    color:orangered;
  
    
  }
  
  .form{
     text-align: center;
     color: crimson;
  }

  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }
  .container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }
  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
    .nav-links.nav-links-responsive {
      position: absolute;
      display: block;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 50px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }